---
import Layout from "../layouts/Layout.astro";
import MenuPage from "../components/Menu.jsx";
---

<Layout
  title="BDVenlínea Crédito"
  description="Página principal de créditos del Banco de Venezuela"
>
  <main>
    <MenuPage client:load />
  </main>
</Layout>
