---
import Layout from "../layouts/Layout.astro";
import PedidoPage from "../components/Pedido.jsx";
---

<Layout
  title="BDVenlínea Crédito"
  description="Página principal de créditos del Banco de Venezuela"
>
  <main>
    <PedidoPage client:load />
  </main>
</Layout>
